# Git
.git
.gitignore

# Node
node_modules
client/node_modules
npm-debug.log
yarn-error.log

# Docker
.dockerignore
docker-compose.yml
docker-compose.dev.yml
docker-compose.prod.yml

# Editor
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Readme files
*.md
